# **Ejercicios de entrevistas**
1. Definir una funci칩n max() que tome como argumento dos n칰meros y devuelva el mayor de ellos. (Es cierto que python tiene una funci칩n max() incorporada, pero hacerla nosotros mismos es un muy buen ejercicio.

In [1]:
def jun_max(a: int, b:int):
    """Retornar maximo de dos numeros dados

    Args:
        a (int): Primer numero a comparar
        b (int): Segundo numero a comparar

    Returns:
        int: Mayor de ambos
    """
    if a > b:
        return a
    elif a < b:
        return b
    elif a==b:
        raise Exception("No se admiten valores iguales")
    raise Exception("Also salio mal")

print(jun_max(3,6))

6

2.Definir una funci칩n max_de_tres(), que tome tres n칰meros como argumentos y devuelva el mayor de ellos.

In [2]:
def max_de_tres(n1:int, n2:int, n3:int):
    """Retornar el mayor de tres numeros

    Args:
        n1 (int): Primer n칰mero
        n2 (int): Segundo n칰mero
        n3 (int): Tercer numero
    Returns:
        int: El maximo de tres
    """
    if n1 > n2 and n1 >n3:
        return n1
    elif n2 > n3 and n2 >n1:
        return n2
    elif n3 > n1 and n3 >n2:
        return n3
    elif n1 == n2 or n2 == n3 or n1 ==n3:
        raise Exception("No es posibles valores iguales")
    raise Exception("Hay un error")

print(max_de_tres(5,1,1))

5

3.Escribir una funci칩n que tome un car치cter y devuelva True si es una vocal, de lo contrario devuelve False.

In [3]:
def es_vocal(X:str):
    """Determinar si un caracter es vocal

    Args:
        X (str): Caracter
    Returns:
        bool: True si es vocal
    """
    vocal = {'a','e','i','o','u'}
    if not isinstance(X, str) or len(X)  != 1:
        return Exception("No se admite mas de un caracter")
    if X.lower() in vocal:
        return True
    else:
        return False
print(es_vocal('a'))

True

4.Escribir una funci칩n sum() y una funci칩n multip() que sumen y multipliquen respectivamente todos los n칰meros de una lista. Por ejemplo: sum([1,2,3,4]) deber칤a devolver 10 y multip([1,2,3,4]) deber칤a devolver 24.

In [4]:
def sum_jun(lista):
    total = 0
    i = 0
    while i < len(lista):
        total += lista[i]
        i+=1
    return total

print(sum_jun([1,2,3,4]))

def multiplicar(lista):
    total = 1
    i = 0
    while i < len(lista):
        total *= lista[i]
        i+=1
    return total

print(multiplicar([1,2,3,4]))

10
24

5.Definir una funci칩n inversa() que calcule la inversi칩n de una cadena. Por ejemplo la cadena "estoy probando" deber칤a devolver la cadena "odnaborp yotse"

In [5]:
def inversa(cadena):
    return cadena[::-1]

def inversa2(cadena):
    cadena_invertida = ""
    i = len(cadena) -1 
    while i >= 0:
        cadena_invertida += cadena[i]
        i -= 1
    return cadena_invertida

print(inversa2("estoy probando"))

odnaborp yotse

6.Definir una funci칩n es_palindromo() que reconoce pal칤ndromos (es decir, palabras que tienen el mismo aspecto escritas invertidas), ejemplo: es_palindromo ("radar") tendr칤a que devolver True.

In [6]:
def es_palindromo(cadena:str):
    cadena_inversa = str()
    i = len(cadena) -1
    while i >= 0:
        cadena_inversa += cadena[i]
        i -= 1
    if cadena == cadena_inversa:
        return True
    else:
        return False

print(es_palindromo("radar"))

True

7.Definir una funci칩n superposicion() que tome dos listas y devuelva True si tienen al menos 1 miembro en com칰n o devuelva False de lo contrario. Escribir la funci칩n usando el bucle for anidado.

In [7]:
def superposicion(lista1, lista2):
    for elem in lista1:
      for elem2 in lista2:
        if elem == elem2:
          return True
    return False

print(superposicion([7,7,7],[5,7,5]))

True

8.Definir una funci칩n generar_n_caracteres() que tome un entero n y devuelva el caracter multiplicado por n. Por ejemplo: generar_n_caracteres(5, "x") deber칤a devolver "xxxxx".

In [8]:
def generar_n_caracteres(n: int, caracter:str):
  caracter_final = ""
  for i in range(0,n):
    caracter_final = caracter + caracter_final
  return caracter_final
  
  
print(generar_n_caracteres(5,"x"))

xxxxx

9.Definir un histograma procedimiento() que tome una lista de n칰meros enteros e imprima un histograma en la pantalla. Ejemplo: procedimiento([4, 9, 7]) deber칤a imprimir lo siguiente:
```
****
*********
*******
```

In [9]:
def procedimiento(lista:int):
    for elem in lista:
      print("*"*elem)

procedimiento([4,9,7])

****
*********
*******

10. Calcula el promedio de una lista de n칰meros

In [10]:
numeros = [5,2,4]
promedio = sum(numeros)/len(numeros)
promedio

3.6666666666666665

11. Reemplazar un car치cter en una cadena de texto

In [11]:
cadena = "playa"
reemplazado = cadena.replace("a","e")
reemplazado

'pleye'

12. Calcula 2 elevado a la 4ta potencia sin usar el operador **

In [12]:
numero = 2
elevado = pow(2,4)
elevado

16

13. Contar las ocurrencias de un car치cter espec칤fico en una cadena

In [13]:
cadena = "playersa"
contar = cadena.count("a")
contar

2

14. Encuentra y muestra el 칰ltimo car치cter de una cadena

In [14]:
cadena = "python"
ultimo = cadena[-1]
ultimo

'n'

15. Divide una cadena en una lista de subcadenas

In [15]:
cadena = "play station"
dic = cadena.split()
dic

['play', 'station']

16. Eliminar un elemento espec칤fico de una lista

In [16]:
lista = [1,2,3,1]
lista.remove(1)

while 1 in lista:
  lista.remove(1)

print(lista)

[2, 3]

17. Genera una lista de n칰meros del 1 al 10

In [17]:
numeros = list(range(1,11))
numeros

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

18. Realiza operaciones b치sicas con conjuntos de uni칩n e intersecci칩n

In [18]:
conjunto1 = {1,2,3}
conjunto2 = {3,4,5}

#Uni칩n
union = conjunto1 | conjunto2
print(union)

#Intersecci칩n
inter = conjunto1 & conjunto2
print(inter)

{1, 2, 3, 4, 5}
{3}

19. Combina dos listas en pares usando la funci칩n zip

In [19]:
l1 = [1,2,3]
l2 = ['a','b']

combinado = list(zip(l1,l2))
combinado

[(1, 'a'), (2, 'b')]

20. Eliminar duplicados de una lista

In [20]:
lista1 = [1,2,3,4,1,2,3]
eliminado = list(set(lista1))
eliminado.sort(reverse=True)
eliminado

[4, 3, 2, 1]

21. Verificar si un n칰mero es par o impar

In [21]:
n = 7

if n % 2 == 0:
  print('Par')
else:
  print('Impar')

Impar

22. Determinar si un a침o es bisiesto, teniendo en cuenta las siguientes reglas: 游늰
- Bisiesto: Es divisible por 4 y No divisible por 100
- Bisiesto: Es divisible por 400

In [22]:
anio = 2024

if (anio % 4 == 0 and anio % 100 !=0) or (anio % 400 == 0):
  print('Bisiesto')
else:
  print('No bisiesto')

Bisiesto

23. Verificar si un n칰mero est치 en el rango de 1 a 10

In [23]:
n = 5

if 1<=n<=10:
  print('Esta en el rango')
else:
  print('No est치 en rango')

Esta en el rango

24. Verificar si un car치cter es vocal o no

In [24]:
caracter = str("a")
vocales = ['a','e','o','u','i']
if caracter.lower() in vocales:
  print('es vocal')
else:
  print('No es vocal')

es vocal

25. Calcular m치ximo de n칰meros

In [25]:
numeros = [1,22,3]
maximoo = max(numeros)
maximoo

22

26. Verificar si un car치cter est치 en una cadena

In [26]:
caracter = "s"
cadena = "play"

if caracter in cadena:
  print('Esta')
else:
  print('No esta')

No esta

27. Imprimir los n칰meros del 10 al 1 en orden descendente

In [27]:
total = 10
while total >= 0:
  print(total)
  total -=1

10
9
8
7
6
5
4
3
2
1
0

28. Para un N n칰mero, imprimir la suma de todos los n칰meros desde 1 hasta N

In [28]:
n  = 5
suma = 0
while n >= 0:
  suma += n
  n -= 1
suma

15

29. Para un N n칰mero, imprimir el factorial de ese n칰mero

In [29]:
n  = 5
factorial = 1
while n >= 1:
  factorial *= n
  n -= 1
factorial

120

30. Genera un n칰mero aleatorio entre 1 y 10. Luego, pide al usuario adivinar el n칰mero hasta que lo haga correcto

In [30]:
import random as rd

random = rd.randint(1,10)
print(random)
intentos = 0
while True:
  usuario = int(input("Ingresa un n칰mero: "))
  intentos += 1
  if usuario == random:
    print(f"Muy bien, llegaste al intento: {intentos}")
    break

7
Muy bien, llegaste al intento: 8

31. Imprime la tabla de multiplicar de un n칰mero ingresado por el usuario

In [31]:
numero = 3
total = 0

while total <= 10:
  resultado= numero * total
  print(f"{numero} * {total} = {resultado}")
  total += 1

3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

32. Solicita al usuario ingresar un n칰mero y cuenta cu치ntos d칤gitos tiene

In [32]:
numero = str(input("ingresa un n칰mero: "))
digitos = len(str(numero))
print("El numero tiene ", digitos, " digitos")

El numero tiene  1  digitos

33. Hacer un men칰 de opciones que incluya la opci칩n de salir del programa

In [33]:
while True:
  print("1- Sumar")
  print("2- Restas")
  print("3- Salir")

  option = int(input("Escribe tu opci칩n "))
  if option == 1:
    print('Suma')
  elif option ==2:
    print('restas')
  else:
    print('Salir')
    break

1- Sumar
2- Restas
3- Salir
Salir

34. Simular un lanzamiento de una moneda

In [34]:
import random

while True:
  moneda = random.randint(1,2)
  if moneda == 1:
    print('Cara')
  else:
    print('Cruz')
  jugar = input("Tirar de nuevo (S/N): ")
  if jugar.lower() == 'n':
    break
print('Gracias')

Cara
Cruz
Gracias

35. Mostrar los n칰meros del 1 al 10, pero reemplazando los m칰ltiplos de 3 por "Fizz" y los m칰ltiplos de 5 por "Buzz"

In [35]:
total = 10

while total >= 1:
  if total % 3 == 0:
    print("Fizz")
  elif total % 5 == 0:
    print("Buzz")
  else:
    print(total)
  total -= 1

Buzz
Fizz
8
7
Fizz
Buzz
4
Fizz
2
1

36. Imprimir los numeros del 1 al5 con for

In [1]:
for i in list(range(1,6)):
    print(i)

1
2
3
4
5

37. Sumar los n칰meros del 1 al 10 con for

In [3]:
suma = 0

for i in list(range(1,11)):
    suma = suma + i
    print(suma)

1
3
6
10
15
21
28
36
45
55

38. Imprimir los elementos de una lista dada

In [5]:
def imprimir(lista):
    for i in lista:
        print(i)

imprimir([1,2,3,4])

1
2
3
4

39. Imprimir los caracteres de una cadena usando el ciclo for

In [6]:
cadena = "play"

for i in cadena:
    print(i)

p
l
a
y

40.Imprimir los n칰meros pares del 2 al 10 con el ciclo for

In [8]:
for i in list(range(2,11,2)):
    print(i)

2
4
6
8
10

41.Imprimir el cuadrado de los numeros de una lista

In [12]:
lista = [1,2,3,4]

def cuadrado(lista):
    for i in lista:
        print(i)
        print(i**2)

cuadrado(lista)

1
1
2
4
3
9
4
16

42.Imprimir los n칰meros del 5 al 1 en orden descendente

In [14]:
lista = list(range(1,6))

print(lista[::-1])

[5, 4, 3, 2, 1]

43.Crea una funci칩n para calcular el 치rea de un c칤rculo

In [19]:
import math

def area(radio):
    area = radio **2 * math.pi
    print(area)
    
    
area(5)

78.53981633974483

44.El fichero titanic.csv contiene informaci칩n sobre los pasajeros del Titanic. Escribir un programa con los siguientes requisitos:
- Generar un DataFrame con los datos del fichero.
- Mostrar por pantalla las dimensiones del DataFrame, el n칰mero de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 칰ltimas filas
- Mostrar por pantalla los datos del pasajero con identificador 148.
- Mostrar por pantalla las filas pares del DataFrame.
- Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfab칠ticamente.
- Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
- Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.
- Eliminar del DataFrame los pasajeros con edad desconocida.
- Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.
- A침adir una nueva columna booleana para ver si el pasajero era menor de edad o no.
- Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

In [303]:
#- Generar un DataFrame con los datos del fichero.
import pandas as pd

ruta = r'C:\Users\JUNIORAOA\Downloads\titanic.csv'
df = pd.read_csv(ruta)
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [304]:
#- Mostrar por pantalla las dimensiones del DataFrame, el n칰mero de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 칰ltimas filas
print("Dimenciones de los datos: ", df.shape)
print("Numero de elementos: ", df.size)
print("Columnas del DataFrame: ", df.columns)
print("Tipos de datos del df: ", df.dtypes)
display("Mostrar las 10 primeras fila: ", df.head(10))
display("Mostrar las 10 칰ltimas fila: ", df.tail(10))

Dimenciones de los datos:  (891, 12)
Numero de elementos:  10692
Columnas del DataFrame:  Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Tipos de datos del df:  PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

'Mostrar las 10 primeras fila: '

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

'Mostrar las 10 칰ltimas fila: '

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [305]:
# - Mostrar por pantalla los datos del pasajero con identificador 148.
print("Datos del pasajero 148")
display(df[df['PassengerId'] == 148])

Datos del pasajero 148

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,2,2,W./C. 6608,34.375,NaN,S

In [356]:
#-  Mostrar por pantalla las filas pares del DataFrame.
print("Filas pares del DataFrame: ")

total = df.shape[0]
inicio = 0
print(total)

while inicio <= total:
    if inicio % 2 == 0:
        print(df.loc[inicio])
    inicio += 1

Filas pares del DataFrame:
891
PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Mayor                            False
Name: 0, dtype: object
PassengerId                         3
Survived                            1
Pclass                              3
Name           Heikkinen, Miss. Laina
Sex                            female
Age                              26.0
SibSp                               0
Parch                               0
Ticket               STON/O2. 3101282
Fare                            7.925
Cabin                             NaN
Embarked                            S
Mayor                           False
Name: 2, dtype: object
PassengerId                           5
Survived                              0
Pclass                                3
Name           Allen, Mr. William Henry
Sex                                male
Age                                35.0
SibSp                                 0
Parch                                 0
Ticket                           373450
Fare                               8.05
Cabin                               NaN
Embarked                              S
Mayor                             False
Name: 4, dtype: object
PassengerId                          7
Survived                             0
Pclass                               1
Name           McCarthy, Mr. Timothy J
Sex                               male
Age                               54.0
SibSp                                0
Parch                                0
Ticket                           17463
Fare                           51.8625
Cabin                              E46
Embarked                             S
Mayor                            False
Name: 6, dtype: object
PassengerId                                                    9
Survived                                                       1
Pclass                                                         3
Name           Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
Sex                                                       female
Age                                                         27.0
SibSp                                                          0
Parch                                                          2
Ticket                                                    347742
Fare                                                     11.1333
Cabin                                                        NaN
Embarked                                                       S
Mayor                                                      False
Name: 8, dtype: object
PassengerId                                 11
Survived                                     1
Pclass                                       3
Name           Sandstrom, Miss. Marguerite Rut
Sex                                     female
Age                                        4.0
SibSp                                        1
Parch                                        1
Ticket                                 PP 9549
Fare                                      16.7
Cabin                                       G6
Embarked                                     S
Mayor                                     True
Name: 10, dtype: object
PassengerId                                13
Survived                                    0
Pclass                                      3
Name           Saundercock, Mr. William Henry
Sex                                      male
Age                                      20.0
SibSp                                       0
Parch                                       0
Ticket                              A/5. 2151
Fare                                     8.05
Cabin                                     NaN
Embarked                                    S
Mayor                                   False
Name: 12, dtype: object
PassengerId                                      15
Survived                                          0
Pclass                                            3
Name           Vestrom, Miss. Hulda Amanda Adolfina
Sex                                          female
Age                                            14.0
SibSp                                             0
Parch                                             0
Ticket                                       350406
Fare                                         7.8542
Cabin                                           NaN
Embarked                                          S
Mayor                                          True
Name: 14, dtype: object
PassengerId                      17
Survived                          0
Pclass                            3
Name           Rice, Master. Eugene
Sex                            male
Age                             2.0
SibSp                             4
Parch                             1
Ticket                       382652
Fare                         29.125
Cabin                           NaN
Embarked                          Q
Mayor                          True
Name: 16, dtype: object
PassengerId                                                   19
Survived                                                       0
Pclass                                                         3
Name           Vander Planke, Mrs. Julius (Emelia Maria Vande...
Sex                                                       female
Age                                                         31.0
SibSp                                                          1
Parch                                                          0
Ticket                                                    345763
Fare                                                        18.0
Cabin                                                        NaN
Embarked                                                       S
Mayor                                                      False
Name: 18, dtype: object
PassengerId                      21
Survived                          0
Pclass                            2
Name           Fynney, Mr. Joseph J
Sex                            male
Age                            35.0
SibSp                             0
Parch                             0
Ticket                       239865
Fare                           26.0
Cabin                           NaN
Embarked                          S
Mayor                         False
Name: 20, dtype: object
PassengerId                             23
Survived                                 1
Pclass                                   3
Name           McGowan, Miss. Anna "Annie"
Sex                                 female
Age                                   15.0
SibSp                                    0
Parch                                    0
Ticket                              330923
Fare                                8.0292
Cabin                                  NaN
Embarked                                 Q
Mayor                                 True
Name: 22, dtype: object
PassengerId                               25
Survived                                   0
Pclass                                     3
Name           Palsson, Miss. Torborg Danira
Sex                                   female
Age                                      8.0
SibSp                                      3
Parch                                      1
Ticket                                349909
Fare                                  21.075
Cabin                                    NaN
Embarked                                   S
Mayor                                   True
Name: 24, dtype: object
PassengerId                         27
Survived                             0
Pclass                               3
Name           Emir, Mr. Farred Chehab
Sex                               male
Age                                NaN
SibSp                                0
Parch                                0
Ticket                            2631
Fare                             7.225
Cabin                              NaN
Embarked                             C
Mayor                            False
Name: 26, dtype: object
PassengerId                               29
Survived                                   1
Pclass                                     3
Name           O'Dwyer, Miss. Ellen "Nellie"
Sex                                   female
Age                                      NaN
SibSp                                      0
Parch                                      0
Ticket                                330959
Fare                                  7.8792
Cabin                                    NaN
Embarked                                   Q
Mayor                                  False
Name: 28, dtype: object
PassengerId                          31
Survived                              0
Pclass                                1
Name           Uruchurtu, Don. Manuel E
Sex                                male
Age                                40.0
SibSp                                 0
Parch                                 0
Ticket                         PC 17601
Fare                            27.7208
Cabin                               NaN
Embarked                              C
Mayor                             False
Name: 30, dtype: object
PassengerId                          33
Survived                              1
Pclass                                3
Name           Glynn, Miss. Mary Agatha
Sex                              female
Age                                 NaN
SibSp                                 0
Parch                                 0
Ticket                           335677
Fare                               7.75
Cabin                               NaN
Embarked                              Q
Mayor                             False
Name: 32, dtype: object
PassengerId                         35
Survived                             0
Pclass                               1
Name           Meyer, Mr. Edgar Joseph
Sex                               male
Age                               28.0
SibSp                                1
Parch                                0
Ticket                        PC 17604
Fare                           82.1708
Cabin                              NaN
Embarked                             C
Mayor                            False
Name: 34, dtype: object
PassengerId                  37
Survived                      1
Pclass                        3
Name           Mamee, Mr. Hanna
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                     2677
Fare                     7.2292
Cabin                       NaN
Embarked                      C
Mayor                     False
Name: 36, dtype: object
PassengerId                                    39
Survived                                        0
Pclass                                          3
Name           Vander Planke, Miss. Augusta Maria
Sex                                        female
Age                                          18.0
SibSp                                           2
Parch                                           0
Ticket                                     345764
Fare                                         18.0
Cabin                                         NaN
Embarked                                        S
Mayor                                       False
Name: 38, dtype: object
PassengerId                                                41
Survived                                                    0
Pclass                                                      3
Name           Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
Sex                                                    female
Age                                                      40.0
SibSp                                                       1
Parch                                                       0
Ticket                                                   7546
Fare                                                    9.475
Cabin                                                     NaN
Embarked                                                    S
Mayor                                                   False
Name: 40, dtype: object
PassengerId                     43
Survived                         0
Pclass                           3
Name           Kraeff, Mr. Theodor
Sex                           male
Age                            NaN
SibSp                            0
Parch                            0
Ticket                      349253
Fare                        7.8958
Cabin                          NaN
Embarked                         C
Mayor                        False
Name: 42, dtype: object
PassengerId                               45
Survived                                   1
Pclass                                     3
Name           Devaney, Miss. Margaret Delia
Sex                                   female
Age                                     19.0
SibSp                                      0
Parch                                      0
Ticket                                330958
Fare                                  7.8792
Cabin                                    NaN
Embarked                                   Q
Mayor                                  False
Name: 44, dtype: object
PassengerId                   47
Survived                       0
Pclass                         3
Name           Lennon, Mr. Denis
Sex                         male
Age                          NaN
SibSp                          1
Parch                          0
Ticket                    370371
Fare                        15.5
Cabin                        NaN
Embarked                       Q
Mayor                      False
Name: 46, dtype: object
PassengerId                     49
Survived                         0
Pclass                           3
Name           Samaan, Mr. Youssef
Sex                           male
Age                            NaN
SibSp                            2
Parch                            0
Ticket                        2662
Fare                       21.6792
Cabin                          NaN
Embarked                         C
Mayor                        False
Name: 48, dtype: object
PassengerId                            51
Survived                                0
Pclass                                  3
Name           Panula, Master. Juha Niilo
Sex                                  male
Age                                   7.0
SibSp                                   4
Parch                                   1
Ticket                            3101295
Fare                              39.6875
Cabin                                 NaN
Embarked                                S
Mayor                                True
Name: 50, dtype: object
PassengerId                                          53
Survived                                              1
Pclass                                                1
Name           Harper, Mrs. Henry Sleeper (Myna Haxtun)
Sex                                              female
Age                                                49.0
SibSp                                                 1
Parch                                                 0
Ticket                                         PC 17572
Fare                                            76.7292
Cabin                                               D33
Embarked                                              C
Mayor                                             False
Name: 52, dtype: object
PassengerId                                55
Survived                                    0
Pclass                                      1
Name           Ostby, Mr. Engelhart Cornelius
Sex                                      male
Age                                      65.0
SibSp                                       0
Parch                                       1
Ticket                                 113509
Fare                                  61.9792
Cabin                                     B30
Embarked                                    C
Mayor                                   False
Name: 54, dtype: object
PassengerId                   57
Survived                       1
Pclass                         2
Name           Rugg, Miss. Emily
Sex                       female
Age                         21.0
SibSp                          0
Parch                          0
Ticket                C.A. 31026
Fare                        10.5
Cabin                        NaN
Embarked                       S
Mayor                      False
Name: 56, dtype: object
PassengerId                              59
Survived                                  1
Pclass                                    2
Name           West, Miss. Constance Mirium
Sex                                  female
Age                                     5.0
SibSp                                     1
Parch                                     2
Ticket                           C.A. 34651
Fare                                  27.75
Cabin                                   NaN
Embarked                                  S
Mayor                                  True
Name: 58, dtype: object
PassengerId                       61
Survived                           0
Pclass                             3
Name           Sirayanian, Mr. Orsen
Sex                             male
Age                             22.0
SibSp                              0
Parch                              0
Ticket                          2669
Fare                          7.2292
Cabin                            NaN
Embarked                           C
Mayor                          False
Name: 60, dtype: object
PassengerId                             63
Survived                                 0
Pclass                                   1
Name           Harris, Mr. Henry Birkhardt
Sex                                   male
Age                                   45.0
SibSp                                    1
Parch                                    0
Ticket                               36973
Fare                                83.475
Cabin                                  C83
Embarked                                 S
Mayor                                False
Name: 62, dtype: object
PassengerId                       65
Survived                           0
Pclass                             1
Name           Stewart, Mr. Albert A
Sex                             male
Age                              NaN
SibSp                              0
Parch                              0
Ticket                      PC 17605
Fare                         27.7208
Cabin                            NaN
Embarked                           C
Mayor                          False
Name: 64, dtype: object
PassengerId                              67
Survived                                  1
Pclass                                    2
Name           Nye, Mrs. (Elizabeth Ramell)
Sex                                  female
Age                                    29.0
SibSp                                     0
Parch                                     0
Ticket                           C.A. 29395
Fare                                   10.5
Cabin                                   F33
Embarked                                  S
Mayor                                 False
Name: 66, dtype: object
PassengerId                                 69

In [357]:
# - Mostrar por pantalla las filas pares del DataFrame.
print(df.iloc[range(0, df.shape[0],2)])

     PassengerId  Survived  Pclass  \
0              1         0       3
2              3         1       3
4              5         0       3
6              7         0       1
8              9         1       3
..           ...       ...     ...
882          883         0       3
884          885         0       3
886          887         0       2
888          889         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
..                                                 ...     ...   ...    ...
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked  Mayor
0        0         A/5 21171   7.2500   NaN        S  False
2        0  STON/O2. 3101282   7.9250   NaN        S  False
4        0            373450   8.0500   NaN        S  False
6        0             17463  51.8625   E46        S  False
8        2            347742  11.1333   NaN        S  False
..     ...               ...      ...   ...      ...    ...
882      0              7552  10.5167   NaN        S  False
884      0   SOTON/OQ 392076   7.0500   NaN        S  False
886      0            211536  13.0000   NaN        S  False
888      2        W./C. 6607  23.4500   NaN        S  False
890      0            370376   7.7500   NaN        Q  False

[446 rows x 13 columns]

In [325]:
# - Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfab칠ticamente.
display(df[df['Pclass'] ==1]['Name'].sort_values())

730                      Allen, Miss. Elisabeth Walton
305                     Allison, Master. Hudson Trevor
297                       Allison, Miss. Helen Loraine
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
460                                Anderson, Mr. Harry
                            ...
155                        Williams, Mr. Charles Duane
351             Williams-Lambert, Mr. Fletcher Fellows
55                                   Woolner, Mr. Hugh
555                                 Wright, Mr. George
325                           Young, Miss. Marie Grice
Name: Name, Length: 216, dtype: object

In [266]:
# - Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfab칠ticamente.

c1 = df[df['Pclass']==1]
name= pd.DataFrame(c1['Name'])
name.sort_values(by='Name',ascending=True)

                                                Name
730                    Allen, Miss. Elisabeth Walton
305                   Allison, Master. Hudson Trevor
297                     Allison, Miss. Helen Loraine
498  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
460                              Anderson, Mr. Harry
..                                               ...
155                      Williams, Mr. Charles Duane
351           Williams-Lambert, Mr. Fletcher Fellows
55                                 Woolner, Mr. Hugh
555                               Wright, Mr. George
325                         Young, Miss. Marie Grice

[216 rows x 1 columns]

In [358]:
#- Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
print(df['Survived'].value_counts()/df['Survived'].count())

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [359]:
#- Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
print("Porcentaje de personas que sobrevivieron: ")
sobrevivieron = df[df['Survived'] == 0]
porce_s = sobrevivieron.Survived.count()*100/df.shape[0]
print(f"{porce_s.round(2)}%")

print("Porcentaje de personas que murieron: ")
murieron =  df[df['Survived'] == 1]
porce_m = murieron.Survived.count()*100/df.shape[0]
print(f"{porce_m.round(2)}%")

Porcentaje de personas que sobrevivieron:
61.62%
Porcentaje de personas que murieron:
38.38%

In [336]:
#-Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase
print(df.groupby('Pclass')['Survived'].value_counts(normalize=True))

Pclass  Survived
1       1           0.629630
        0           0.370370
2       0           0.527174
        1           0.472826
3       0           0.757637
        1           0.242363
Name: Survived, dtype: float64

In [361]:
# Eliminar del DataFrame los pasajeros con edad desconocida.
df = df[~df['Age'].isna()]
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          529
Embarked         2
Mayor            0
dtype: int64

In [362]:
# Mostrar la edad media de las mujeres que viajaban en cada clase.
display(df.groupby(['Pclass','Sex'])['Age'].mean().unstack()['female'])

Pclass
1    34.611765
2    28.722973
3    21.750000
Name: female, dtype: float64

In [363]:
# A침adir una nueva columna booleana para ver si el pasajero era menor de edad o no.
df['Mayor'] = df['Age'] < 18
df.head(5)

C:\Users\JUNIORAOA\AppData\Local\Temp\ipykernel_16936\1103116450.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Mayor'] = df['Age'] < 18

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Mayor
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,False
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,False

In [364]:
# A침adir una nueva columna booleana para ver si el pasajero era menor de edad o no.
def menor(edad:int):
    if int(edad) < 18:
        return True
    else:
        return False

df['Menor'] = df['Age'].apply(menor)
df.head(3)

C:\Users\JUNIORAOA\AppData\Local\Temp\ipykernel_16936\1010388421.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Menor'] = df['Age'].apply(menor)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Mayor,Menor
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,False,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,False,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False,False

In [367]:
# Mostrar el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.
print(df.groupby(['Pclass','Mayor'])['Survived'].value_counts(normalize=True))

Pclass  Mayor  Survived
1       False  1           0.637931
               0           0.362069
        True   1           0.916667
               0           0.083333
2       False  0           0.586667
               1           0.413333
        True   1           0.913043
               0           0.086957
3       False  0           0.797834
               1           0.202166
        True   0           0.628205
               1           0.371795
Name: Survived, dtype: float64